fastapi==0.116.1
uvicorn==0.35.0

openai==1.99.9

langchain==0.3.27
langchain-openai==0.3.31
langchain-community==0.3.27
langchain-chroma==0.2.5

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

httpx==0.28.1

structlog==25.4.0

sqlalchemy==2.0.43

pypdf==5.9.0

pytest==8.4.2